$primary :linear-gradient(to left, #00587a, #008891);
$secondary : linear-gradient(to right, #6ddccf,#94ebcd);
$text : white;

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}
body{
    @include flexCenter(column);
    min-height: 100vh;
}
.chatSection{
    width: 850px;
    max-width: 90%; 
    background: #F8F8F8;
}
.chat-header{
    @include flexCenter(row);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #94b5c0;
    padding: 3px;
    width: 100%;
    h1{
        color: #383e56;
    }
}
.message-section{
    height: 590px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top:2%;
    margin-bottom: 2%;
}
.chatBot{
    text-align: center;
    color: navy;
    font-size: 20px;
}
.message{
    margin-bottom: 20px;
    position: relative;
    word-wrap: break-word;
}
.incoming{  
    margin-left: 20px;
    margin-right: auto;
    p{
    background-image: $secondary;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
 }
}
.outgoing{
    margin-left: auto;
    margin-right: 20px;
    p{
        background-image:$primary;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
    } 
}
.message p{
    padding: 8px;
    color: $text;
    font-size: 1.3rem;
    max-width:400px; 
    height: auto;
}
.input-area{
    display: flex;
    width: 100%;
    input, button{
        font-size: larger;
    }
}

